/*
 Theme Name:   Eduma Child
 Theme URI:    http://educationwp.thimpress.com/
 Description:  Eduma Child Theme
 Author:       ThimPress
 Author URI:   http://thimpress.com
 Template:     eduma
 Version:      1.0.0
 Text Domain:  eduma-child
*/


.thim-link-login.thim-login-popup
{
display: none;
}


@import url("../eduma/style.css");
.sc_heading.text-left {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 6px !important;
    padding-bottom: 0px !important;
}

li.menu-item.menu-item-type-custom span, li.menu-item.menu-item-type-custom:after{
    color: #fff;
}


@media (max-width: 480px)
{

.sc_heading .title
{
    font-size: 23px !important;
}
.tp-caption.thim-slider-heading {
    font-size: 22px !important;
}



}
@media (min-width: 769px)
{




.navigation .navbar-nav > li > a, .navigation .navbar-nav > li > span {
    color: #fff;
    font-size: 13px !important;
    font-weight: 600;
}

.navbar-nav li.multicolumn .submenu_columns_4 {
    width: 1024px;

}
}

.navigation .navbar-nav>li.widget_area>a:after, .navigation .navbar-nav>li.menu-item-has-children>a:after, .navigation .navbar-nav>li.widget_area>span:not(.icon-toggle):after, .navigation .navbar-nav>li.menu-item-has-children>span:not(.icon-toggle):after
{
	right: 0px;
}

.type-school img {
    width: 100%;
}
.area-tag {
    border: 1px solid;
    padding: 4px 14px;
    border-radius: 24px;
    margin-right: 9px;
}

.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > span:hover
{
    color: #fff !important;
}
.archieve-custom-bg-featued {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center center;
    border-radius: 7px;
}

.title-fac-archieve {
    padding-top: 10px;
    font-size: 16px;
    color: #000;
}


.facilities-row {
    word-break: break-word;
    font-size: 13px;
    line-height: 16px;
}
.contact-item-tab i {
    float: left;
    line-height: 19px;
    font-size: 19px;
}

.contact-item-tab {
    border-bottom: 1px solid #f2f2f2;
    padding: 11px 38px;
    font-weight: 300;
}
.contact-head {
	min-width: 147px;
    float: left;
    font-size: 17px;
    margin-left: 15px;
    line-height: 18px;
    color: #000;
}
.contact-answ {
    
    color: #777;
 
    font-size: 17px;
    line-height: 25px;
}

.intro-basic-tab .contact-head {
    font-size: 16px;
    line-height: 25px;
}

.sticky-header.affix {
    background-color: rgba(0,0,0,0.4) !IMPORTANT;
}

.intro-basic-tab .contact-answ {
    font-size: 16px;
}
.site-header .sticky-logo
{
    width: 84px;
}

.counseling-value {
    font-size: 43px;
    line-height: 42px;
    color: #ffb606;
}


.intro-basic {
    padding-top: 10px;
    padding-bottom: 40px;
}

article .entry-header .entry-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 7px;
}

article .entry-header .entry-meta li
{
    margin-top: 0px;
}

.thim-list-event .item-event .event-wrapper .description {
    margin-top: 9px;
    font-size: 12px;
    line-height: 21px;
}

.image-svg i {
    font-size: 57px;
}


.image-svg {
    float: left;
}

.all-question-bank .entry-title {
    font-size: 17px !IMPORTANT;
    margin: 0;
    padding: 0px 12px;
}

.all-question-bank .event-wrapper {
    padding: 0 !IMPORTANT;
  }

  div#tab-all-questions .content-inner {
    padding: 0;
}

.all-question-bank {
    padding: 17px 0 !important;
}


.qb-download-wrapper i.fa.fa-cloud-download {
    width: 100%;
    font-size: 8em;
    text-align: right;
}

.qb-download-wrapper {
    padding: 21px 18px;
    background: #f3f3f3;
    margin: 42px 0;
    border-radius: 13px;
}


span.qb-tags-item {
    min-height: 55px;
    width: 100%;
   
    display: block;
}
.tag-cloud-qb {
    margin: 27px 0;
}

.qb-tag-title {
    font-size: 26px;
}
h3.review-post-form-title {
    font-size: 19px;
    text-transform: uppercase;
    padding: 20px 0;
}
.review-post-form-wrapper .form_table
{
    background: #f9f9f9;
    border: none;
        table-layout: fixed;
}
.review-post-form-wrapper td.rr_form_heading
{
    width: 20%;
    min-width: 140px;
}


.review-post-form-wrapper .rr_stars_container {
    padding-top: 18px;
}

.review-post-form-wrapper td.rr_form_heading {
    line-height: 62px;
}

.rr_review_form
{
     background: #f9f9f9;
     padding: 18px;
}
.review-post-form-wrapper input.rr_small_input {
    height: 55px;
    line-height: 60px;
}
.review-post-form-wrapper td, .review-post-form-wrapper tr 
{
    border: transparent;
}

.stars, .rr_star {
    color: #ffaf00 !important;
}

#masthead .navigation
{
    padding-top: 0px !important;
}

.width-navigation {
    padding-top: 25px !IMPORTANT;
}

.navigation .width-navigation img, .navigation .width-logo img

{
    padding-bottom: 0px !important;
margin-bottom: 0px !important;
}
.site-header
{
        background: rgba(255,255,255,0) !important;
}
body .content-pusher
{
    padding-top: 0px !important;
}
.width-logo > a
{
        width: 294px;
}
.thim-course-search-overlay i {
    color: #fff;
}

article .entry-header .date-meta
{
    height: 96px;
}

.icon-thumb-cards {
    height: 187px;
    background-size: cover;
    background-position: center center;
}

.panel-row-style-thim-university-top-icon .panel-grid-cell {
    width: 16.6%;
    float: left !important;
}

.thim-register-now-form {
    margin: 80px 0;
    background: #fff;
    position: relative;
    max-width: 400px;
    padding-bottom: 22px;
    float: right;
    min-height: auto !important;
}
.top_site_main
{
    padding-top: 140px;
}

.thim-university-top-icon .panel-grid-cell, .thim-best-industry .panel-grid-cell, .thim-bg-overlay .panel-grid-cell, .footer_widget .panel-grid-cell{
    float: left;
}
.thim-widget-icon-box .line-heading {
    background: #34529B !important;
}

.thim-university-top-icon .thim-widget-icon-box .wrapper-box-icon {
    border-right-color: #34529B !important;
}

.thim-university-top-icon .thim-widget-icon-box .wrapper-box-icon {
    border-right: 1px solid #34529B !important;
}

.thim-list-event .item-event {
    padding: 19px 0 12px !important;
}

.carousel-slider__post-excerpt, .carousel-slider__post-excerpt-overlay, .carousel-slider__post-publication-meta, .carousel-slider__post-details-info {
    display: none !important;
}


.carousel-slider__post-title h1 {
    color: #4a4a4a;
    font: 16px/16px Arial,sans-serif !important;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}
.site-header .sticky-logo {
    width: 167px !important;
}

.carousel-slider__post {
    border: 5px solid #fff !important;

}

.switcher
{
float: right;
margin-top: 3px;
margin-right: 13px;
}

.switcher .option a:hover {
    background: #000 !important;
}
.switcher .selected a:hover
{
background: none !important;
}

.switcher .option
{
position: absolute !important;
background-color: #333 !important;
}
.switcher .selected
{
background: none !important;
}



article .entry-header .entry-meta li span {
    color: #333 !important;
    }


    .learn-press .course-tabs .nav-tabs li
    {
        width: 20% !important;
    }

    div#tab-course-list li {
    list-style: none !important;
    padding: 5px 0;
}

.thim-testimonial-slider .slides-content .description
{
        padding-bottom: 33px;
}


@media (max-width: 780px)
{
#pgc-w5981188c89ee2-0-0, #pgc-w5981188c89ee2-0-1, #pgc-w5981188c89ee2-0-2, #pgc-w5981188c89ee2-0-3 {
    margin-bottom: 0px !important;
}
}

.sticky li a p
{
    font-family: inherit;
}

.sticky-container
{
        z-index: 99999999 !important;
}
.sticky li
{
        background: #000 !important;
}
